<?xml version="1.0" encoding="UTF-8"?>
<launch>

    <!-- This version uses the openai_ros environments -->
    <rosparam command="load" file="$(find pr2_training)/config/pr2_wall_params.yaml" />

    <!-- Launch the training system -->
    <node pkg="pr2_training" name="pr2_wall_qlearn" type="start_training_wall.py" output="screen"/>

</launch>
